// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* post header */
#dropdown-post {
  width: 450px;
  padding: 0 15px;
}

/* post list */
#update_notice {
  display: none;
  background-color: #5cb85c;
  font-size: 21px;
  font-weight: bold;
  margin: 0 auto 20px;
  text-align: center;
  padding: 15px 0;
  border-radius: 6px;
  width: 650px;
}

.card {
  width: 30%;
  display: inline-block;
  background-color: #fff;
  margin: 0 21px 30px 0;
  border: 1px solid #ededf0;
  border-bottom: 1px solid #dcdce0;
  border-radius: 8px;
  height: 450px;

  .card-heading.simple {
    font-size: 18px;
    line-height: 1.5;
    padding: 0 5px;
    margin: 10px 0;
    height: 55px;
  }

  .card-body {
    padding: 0 5px;
  }

  .card-actions {

  }

}
